<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <form action="/api/sign-up" method="post">
    <input type="text" name="login" value="Next">Логин<Br>
    <input type="password" name="password" value="1">Пароль<Br>
    <input type="submit"></p>
 </form>

 <form action = "/api/upload-file" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
 </form>

</body>
</html>